<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="ReimbursementServer" packages="">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<RollingFile
			name="AllToFileLogger"
			fileName="${sys:user.home}/reimbursement-server-logs/all-log.txt"
			filePattern="${sys:user.home}/reimbursement-server-logs/$${date:yyyy-MM}/all-log-%d{yyyy-MM-dd}-part_%i.log.gz">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB"/>
			</Policies>
		</RollingFile>
		<RollingFile
			name="EmailsendingToFileLogger"
			fileName="${sys:user.home}/reimbursement-server-logs/email-log.txt"
			filePattern="${sys:user.home}/reimbursement-server-logs/$${date:yyyy-MM}/email-log-%d{yyyy-MM-dd}-part_%i.log.gz">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB"/>
			</Policies>
		</RollingFile>
		<RollingFile
			name="HttpAuthenticationToFileLogger"
			fileName="${sys:user.home}/reimbursement-server-logs/HttpAuthentication-log.txt"
			filePattern="${sys:user.home}/reimbursement-server-logs/$${date:yyyy-MM}/HttpAuthenticationEntryPoint-log-%d{yyyy-MM-dd}-part_%i.log.gz">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB"/>
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="ch.uzh.csg.reimbursement.service.EmailService" level="debug" additivity="true">
			<AppenderRef ref="EmailsendingToFileLogger"/>
		</Logger>
		<Logger name="ch.uzh.csg.reimbursement.security" level="debug" additivity="true">
			<AppenderRef ref="HttpAuthenticationToFileLogger"/>
		</Logger>
		<Root level="warn">
			<AppenderRef ref="AllToFileLogger"/>
		</Root>
		<Root level="info">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>