@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400');
body, html {
  height: 100%; }

body {
  margin: 0;
  padding: 50px 0 0 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

#signatureCrop .page {
  padding-top: 3px;
  position: relative;
  padding-bottom: 3px; }
#signatureCrop .jcrop-holder {
  margin: 0 auto;
  outline: 1px solid #ddd; }
  #signatureCrop .jcrop-holder img {
    background-color: white; }
#signatureCrop .buttons {
  margin-top: 20px;
  text-align: center; }

#signatureCapture #signatureCaptureImage, #signatureCapture #signatureCaptureTouch {
  margin: 20px 0 0 0; }
#signatureCapture #signatureCaptureImage {
  padding-bottom: 60px; }
  #signatureCapture #signatureCaptureImage .image-upload {
    border: 5px dashed #337AB7;
    height: 260px;
    border-radius: 35px;
    position: relative;
    padding: 7px; }
    #signatureCapture #signatureCaptureImage .image-upload div[flow-drop] {
      width: 100%;
      height: 100%;
      border-radius: 28px; }
      #signatureCapture #signatureCaptureImage .image-upload div[flow-drop].dragOver {
        background: #C5E4FF; }
    #signatureCapture #signatureCaptureImage .image-upload .center {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: #337AB7;
      font-size: 30px;
      font-weight: 300;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      text-align: center; }
      #signatureCapture #signatureCaptureImage .image-upload .center.uploadBar {
        width: 40%; }
      #signatureCapture #signatureCaptureImage .image-upload .center.uploadButton {
        cursor: pointer; }
      #signatureCapture #signatureCaptureImage .image-upload .center .progress {
        margin: 0; }
#signatureCapture #signatureCaptureTouch {
  padding-bottom: 20px; }
  #signatureCapture #signatureCaptureTouch .signaturePad .pad {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 2px solid #DFDFDF;
    border-radius: 6px;
    cursor: default; }
  #signatureCapture #signatureCaptureTouch .signaturePad .buttons {
    margin-top: 10px;
    text-align: right; }
  #signatureCapture #signatureCaptureTouch .resetForceSignature {
    position: absolute;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    padding: 0 7px;
    font-size: 38px;
    line-height: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  #signatureCapture #signatureCaptureTouch .forceSignature {
    margin-top: 10px; }
  #signatureCapture #signatureCaptureTouch .alert .buttons {
    text-align: center;
    margin-top: 15px; }
    #signatureCapture #signatureCaptureTouch .alert .buttons .btn + .btn {
      margin-left: 2px; }

#signatureCaptureQR .qrCodeWrapper {
  margin-top: 15px;
  text-align: center; }
#signatureCaptureQR qrcode {
  display: block; }
  #signatureCaptureQR qrcode canvas {
    display: inline-block; }
#signatureCaptureQR .or {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 300; }
#signatureCaptureQR .qrUrl {
  font-family: Consolas, monospace;
  font-size: 16px;
  display: inline-block;
  padding: 2px 9px;
  border-radius: 3px;
  border: 1px solid #aaa; }

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
  visibility: hidden; }
  .spinner.showSpinner {
    transition: opacity 0.3s linear;
    opacity: 1;
    visibility: visible; }
  .spinner .whiteBackground {
    background: #fff;
    opacity: 0.92;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .spinner .spin {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 0; }
    .spinner .spin .textLabel {
      font-weight: 300;
      color: #000;
      font-size: 26px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px; }
    .spinner .spin .rect {
      display: inline-block;
      vertical-align: middle;
      background-color: #333;
      height: 60px;
      width: 6px;
      -webkit-animation: spinner-stretchdelay 1.2s infinite ease-in-out;
              animation: spinner-stretchdelay 1.2s infinite ease-in-out; }
      .spinner .spin .rect + .rect {
        margin-left: 3px; }
    .spinner .spin .rect2 {
      -webkit-animation-delay: -1.1s;
              animation-delay: -1.1s; }
    .spinner .spin .rect3 {
      -webkit-animation-delay: -1s;
              animation-delay: -1s; }
    .spinner .spin .rect4 {
      -webkit-animation-delay: -0.9s;
              animation-delay: -0.9s; }
    .spinner .spin .rect5 {
      -webkit-animation-delay: -0.8s;
              animation-delay: -0.8s; }

@-webkit-keyframes spinner-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes spinner-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
